*{
   color: #5e5343;
   background-color: #efe9e4;
}
.edu > h1{
    text-align: center;
}
.education{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 40px;
    line-height: 50px;
}
@media (max-width: 600px) {
    .education{
        gap: 50px;
    }
}